root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,sass,scss,kak}]
charset = utf-8
indent_style = tab

[*.{yml,yaml,json}]
charset = utf-8
indent_style = space
indent_size = 2
