[submodule "python.el"]
	path = python.el
	url = git://github.com/schickm/python.el.git
[submodule "flymake-python"]
	path = flymake-python
	url = git@github.com:schickm/flymake-python.git

[submodule "JSlint"]
	path = JSlint
	url = git@github.com:schickm/JSLint.git

[submodule "django-mode"]
	path = django-mode
	url = git@github.com:schickm/django-mode.git
[submodule "autopair"]
	path = autopair
	url = git@github.com:schickm/autopair.git
