export kak_javascript_formatcmd='run() { cat "$1" | npx --quiet prettier --stdin-filepath ${kak_buffile} --stdin; } && run'
export kak_javascript_lintcmd='run() { cat "$1" | npx --quiet eslint --format=$(npm root -g)/eslint-formatter-kakoune --stdin-filename ${kak_buffile} --stdin; } && run'
