export kak_javascript_formatcmd='npx --quiet prettier --stdin-filepath=%%val{buffile} --stdin'
export kak_javascript_lintcmd='run() { cat "$1" | npx --quiet eslint --format=$(npm root -g)/eslint-formatter-kakoune --stdin-filename ${kak_buffile} --stdin; } && run'
export AWS_DEFAULT_REGION='us-west-2'
export AWS_ACCESS_KEY_ID=AKIA2NPROIH6LR55EE4O
export AWS_SECRET_ACCESS_KEY=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
export BITLY_TOKEN=d7c4a808d63a6badcc4beb7faf92ca4740cfa284
export BITLY_GROUP_ID=Bk19kBCWiQZ
